*{
    box-sizing: border-box;
}
#oop{
    position: relative;
    z-index: 20;
}
body{
    font-size: 16px;
    background-color: black;
    scroll-behavior: smooth;
}
 header{
     width: 100%;
     margin: 0 auto;
     position: fixed; 
 }
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 0.99rem;
    border-bottom: 0.02rem solid olivedrab;
    background-color: rgb(10, 10, 10);
    position: fixed;
    width:100%;
    z-index:1; 
    margin: 0 auto;
    padding: 1rem 10rem; 
}
 .weishnu a{
     color:darkorange;
     padding-left: 1rem;
 }
 
ul{
    display: flex;
    list-style: none;
}
ul li a{
    padding: 0 2.10rem;
    color:darkorange;
}
ul li:hover{ 
    background-color: seagreen;
}
.resume{
    display: none;
}

@media screen and (max-width:720px) {
    header{
        width: 100%;
        position: relative;
        z-index: 5;

        
    }
  nav{ 
      width: 100%;
      display: column;
      flex-direction: column;
      background-color: rgb(12, 12, 12); 
      border-bottom: 0; 
      position: fixed;
      padding: 0;
      opacity: 0.9;
  }
  .minu ul{ 
      overflow-x: scroll; 
      padding-left: 0;

  }
  ul li a{  
      background-color: rgb(121, 124, 117);
    padding: 0.40rem 2.10rem;
    border: 0.05rem solid rgb(181, 65, 65); 
    color:rgb(245, 243, 243);
}
.brand{
    padding: 1rem 0;
}
 
ul li a:hover{ 
    background-color: seagreen;
}
  body{
      background-color:black;
  }
 
   
  /* Hide scrollbar for Chrome, Safari and Opera */
  .minu ul::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .minu ul {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
.brand{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    

}
.photo img{
    display: none;
}
.resume{
    display: block;
}
 
 
#hide{
    display: none;
} 
#cent{ 
    background-image: url(./cropb.png);
    background-repeat: no-repeat;
    color: white; 
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
     
}
 
#cent h1{ 
    font-size: 2.30rem; 
}
#cent p{ 
    font-size: 1rem; 
}
#cent .heeding p{  
    line-height: 2rem; 
    padding: 0;
}
.heeding{
    padding: 5rem 0.10rem;
}
.level{
    margin-top: 0;
}
 .let{
     display: none;
 }
 
#abc{
    width: 100%;
    color: rgb(84, 184, 179);
}
#abc img{
    width: 50%;
    float: left;
    position: relative;
    padding-right: 1rem;
    border-radius: 3px;
  
}
.resume a{
    color:darkorange; 
    padding: 4rem 1rem;
}
}
.about-pregraph img {
    display: none;
}
.about-pregraph h5{
    display: none;
}

/*left aside*/
ol{
    margin-top: 30rem;
    list-style: none;
    position: fixed;
}
.oren{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 10rem;
    color:tomato;
    position: fixed;
}


/*banner strats*/
 
#cent{ 
    width: 100%;
    display: flex;   
 }
#hide{
    width: 10%;
}
.flex-style{
    display: flex;
    margin-top: 6rem;
}
.heeding h1{
    font-size: 4rem;
    color: rgb(163, 160, 160);
    display: none;
}
.heeding p{ 
    color: whitesmoke;
    padding: 1.50rem 0;
    line-height: 3rem;
    display: none;
}
.photo img{ 
    border: 0.05rem solid rgb(145, 62, 62);
    box-shadow: 1rem 1rem rgb(15 15 36), 2rem 2rem 0 rgb(82 80 80);
     display: none;
}
.heeding a{
    padding: 0.50rem 2.50rem;
    border: 1px solid blue;
    border-radius: 20px; 
    background-color: rgb(26, 0, 197);
    color: aqua;
    position: relative;
    top: 1rem;
    font-family: 'Raleway', sans-serif;
}
.level{
    padding-top: 10rem;
}
/*about section starts*/
.a-section{
    margin-top: 14rem;
    color: rgb(218, 216, 216);
}
.about-pregraph { 
    width: 85%;
    margin: 0 auto;
}
.about-pregraph img{
    width: 20%;
    float: left;
    position: relative;
    padding-right: 1rem;
    border-radius: 3px;
}
.about h2{
  text-align: center;
  padding-bottom: 4rem;
  text-decoration: underline; 
}
.about-pregraph  h5{
 
    font-size: 2rem;
    line-height: 3rem;
    word-spacing: 0.05rem;
    text-align: justify;
}

.about-pregraph  h3{
  text-indent: 25px;
}
.inden {
    margin-top: 4rem;
    text-indent: 40px;
}

/*toggle area*/




.dis{ 
    display: none;
    z-index: 18;
    position: relative; 
     
}
 
 .area{ 
     display: flex;
    font-size: 3rem;
      
     

 }
 #you a{ 
     display: block;
     border: 2px solid rgb(7, 15, 250);
     border-radius: 100%;
     padding: 10px 14px;  
     background-color: rgba(221, 242, 242, 0.96);
     opacity: 0.5;
 }
 #you{
     
    display: none;
    position: relative;
    bottom:19rem;
    right:2rem;
 }
 #but a{
    border: 3px solid rgb(39, 16, 250);
    border-style: double;
    border-radius: 100%;
    padding: 10px 15px; 
    position: relative;
    background-color: white;
    opacity: 0.5;  
    bottom:5rem;
 }


 @media screen and (max-width:800px) {
    .dis{ 
        display: block;
        position: fixed; 
        margin-left: 260px;
        
    }
   
    .dis a{  
        color:blue;
        
    }
    .box-border{ 
        margin: 3rem 0;
        padding: 4rem 0;  
        box-shadow: 0.01rem 0.40rem 0.90rem  rgb(91, 91, 99);
      
    }
    
#found h3{ 
    margin-top: 0px; 
    padding-bottom: 3rem;
}

    
 }
 
 /*skills starts*/
 #skill{
     width: 80%;
     text-align: center;
 }
 #skill h1{ 
     padding: 8rem 0;
     text-decoration: underline;
}
 #skill img{  
    width: 120px;
    height: 120px;
    border-radius: 100%; 
    border: 1px solid blue;
    padding: 0.40rem;  
}
.box-border{ 
    color: rgb(209, 209, 209);
}
.stml-box, .css-box, .java-box,.jquery, .sass{
    display: none;
}

/*projection starts*/
 

.boot::-webkit-scrollbar {
    display: none;
}

.boot {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

 
 /* box-shadow: 1px 3px 5px 5px rgb(80, 75, 78); */

.example img{ 
  width:100%
}
.boot img{
  width: 100%; 
}
iframe{
  width:100%;
  height:500px;
}

.hire{ 
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
.projection{
  width: 80%;
}
.projection h3{
  text-align: center;
  font-size: 2.80rem;
  text-decoration: underline;
  padding: 8rem 0;

}
.watchmore{
    border: 1px solid blue;
    padding: 0.50rem 2.50rem;
    border-radius: 100px;
    position: relative;
    top:3rem;
}
.watchmore:hover{ 
    text-decoration: none;
    background-color: aqua;
    box-shadow: 0.01rem 0.09rem 0.08rem  0.08rem  aqua;
    border: 0;
    color:beige;
}


#one-mar{ 
    margin: 100px 0;
}
.boot{
    display: none;
}
@media screen and (max-width:800px) {
    #one-mar{
        margin: 15px 0;
    }
    
}






.get-in h3{
    padding: 6rem 0;
    text-align: center;
}

.box-divider{
    display: flex;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
}
.box-divider a{  
    color:blue;
}
.lenga{
    width: 49%;
    border-right: 1px solid yellowgreen;
    font-family: 'Barlow', sans-serif; 
}
.jojom{
    width: 49%;
    font-family: 'Barlow', sans-serif;
   
}
.get-in{
    margin-top: 7rem;
}















.font-cheat h1{
    text-decoration: underline;
    font-size: 3.50rem;
    color:whitesmoke;
    padding-top: 4rem;
}
.developer h6{
   text-decoration: underline; 
   color:blue; 
   text-underline-offset: 0.60rem; 
   letter-spacing: 0.08rem;
   font-size: 1.50rem;
   padding-bottom: 1rem;
}
.foot{
   padding-top: 3rem;
   text-align: center;
   font-family: 'Raleway', sans-serif;
}



 















#found h3{
    text-align: left;
    margin-top: 40px;
    color:white;
    text-indent: 50px;
    font-weight: 100px;
}